* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}
/* header */
.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header__logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(33, 150, 243, 1);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__logo-studio {
  color: rgba(0, 0, 0, 1);
}
.navigation {
  padding-left: 93px;
  padding-top: 32px;
}
.navigation__list {
  list-style: none;
  text-decoration: none;
  width: 254px;
  display: flex;
  gap: 46px;
  text-align: center;
}
.navigation__item {
  gap: 46px;
}
.navigation__item:hover {
  color: rgba(33, 150, 243, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.navigation__list:hover {
  color: rgba(33, 150, 243, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 53px;
  left: 453px;
  top: 76px;
  border-radius: 2px;
  background: rgba(33, 150, 243, 1);
}
.header-contact__list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 32px;
}
.header-contact__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  padding-left: 371px;
  padding-right: 50px;
  margin-top: 25px;
}
.header-contact__mail:hover {
  color: rgba(33, 150, 243, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__icon {
  margin-right: 10px;
}
.header-contact__icon:hover {
  fill: #2196f3;
}
.header-contact__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.header-contact__phone:hover {
  color: rgba(33, 150, 243, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active-portfolio::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 53px;
  left: 552px;
  top: 76px;
  border-radius: 2px;
  background: rgba(33, 150, 243, 1);
}
/* header */

/* main */
.motto {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-image: url(../images/backgroun.jpg),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
.motto__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  height: 120px;
  width: 696px;
  left: 452px;
  top: 280px;
  border-radius: nullpx;
}
.motto__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: black;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border: none;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.motto__button:hover {
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  transition: color 250ms, background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal box */
.modal {
  position: absolute;
  width: 528px;

  margin-left: 536px;
  margin-top: 221px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 800ms linear;
}

.modal__exit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}
.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 581;
  gap: 28px;
  margin-top: 10px;
  margin-inline: 40px;
  font-size: 12px;
}
.modal-form__header {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 40px;
}
.modal-form__label {
  position: relative;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}
.modal-form__input {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  left: 576px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.modal-form__icon {
  position: absolute;
  display: block;
  top: 34;
  left: 10;
}
.modal-form__icon:focus {
  fill: #2196f3;
}
.modal-form__check {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #2196f3;
  text-decoration: underline;
}
.modal-form__box:hover {
  cursor: pointer;
}
.modal-form__checked {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 0.9em;
  height: 1em;
  fill: #fff;
}
.modal-form__policy {
  width: 395px;
  height: 24px;
  left: 615px;
  top: 658px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__submit {
  width: 12.5rem;
  height: 3.125rem;
  padding: 0;
  margin-top: 0.938rem;
  align-self: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: rgba(33, 150, 243, 1);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 500ms ease-out, box-shadow 500ms ease-out;
  cursor: pointer;
}
.is-hidden {
  transform: scaleX(0);
  opacity: 0;
  pointer-events: none;
}

.contact-comment {
  width: 448px;
  height: 138px;
}

/* Lorem Ipsum */

.lorem-ipsum {
  margin: 94px 215px 94px 215px;
}
.lorem-ipsum__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
}
.lorem-ipsum__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lorem-ipsum__icon {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.lorem-ipsum__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 101px;
}

/* Duties */

.duties {
  width: 1170px;
  margin: 94px 215px;
}
.duties__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.duties__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
}

.duties__label {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  bottom: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  background: rgba(47, 48, 58, 0.8);
}
.duties__photo {
  position: relative;
  display: flex;
  width: 370px;
  height: 294px;
}
/* NASZ ZESPÓŁ */
.team {
  width: 1600px;
  background-color: rgba(245, 244, 250, 1);
}
.team__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team__list {
  margin-left: 215px;
  margin-right: 215px;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}
.team__member {
  width: 270px;
  height: 428px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__img {
  width: 270px;
  height: 260px;
  height: auto;
  display: block;
}
.team__name {
  margin-top: 30px;
}
.team__role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.team__socialmedia {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  gap: 10px;
  fill: #afb1b8;
}
.team__socialmedia:hover,
.team__socialmedia:focus {
  fill: white;
  background-color: #2196f3;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* NASI KLIENCI */

.customers {
  width: 1170px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}
.customers__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}
.customers__list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.customers__logo {
  box-sizing: border-box;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.customers__logo:hover,
.customers__logo:focus {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* FOOTER */

.footer-contact__studio {
  color: white;
}

.footer {
  height: 252px;
  width: 1600px;
  background: #2f303a;
  display: flex;
  position: relative;
}
.footer-contact {
  height: 81px;
  width: 246px;
  border-radius: nullpx;
  display: flex;
  margin-left: 215px;
  margin-top: 60px;
  list-style: none;
  text-decoration: none;
  flex-direction: column;
}
.footer-contact__web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(33, 150, 243, 1);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-contact__adress {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
}
.footer-contact__mail {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact__mail:hover {
  color: rgba(33, 150, 243, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__item {
  padding-top: 9px;
}
.footer-contact__phone {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact__phone:hover {
  color: rgba(33, 150, 243, 1);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socialmedia {
  padding-top: 70px;
  padding-left: 70px;
}
.footer-socialmedia__header {
  width: 113px;
  height: 16px;
  left: 531px;
  top: 2751px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
.footer-socialmedia__list {
  display: flex;
  gap: 10px;
}
.footer-socialmedia__logo {
  list-style: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: white;
}
.footer-socialmedia__logo:hover,
.footer-socialmedia__logo:focus {
  background-color: #2196f3;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-newsletter__info {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-newsletter {
  position: absolute;
  width: 570px;
  height: 86px;
  margin-left: 805px;
  margin-top: 75px;
  margin-right: 225px;
  margin-bottom: 91px;
}
.footer-newsletter__portfolio {
  position: absolute;
  width: 570px;
  height: 86px;
  margin-left: 805px;
  margin-top: 72px;
  margin-right: 215px;
  margin-bottom: 94px;
}
.footer-newsletter__input {
  height: 50px;
  width: 358px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgba(47, 48, 58, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-newsletter__button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  fill: white;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* PORTFOLIO */

.portfolio {
  width: 1200px;
  margin-top: 94px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}
.portfolio-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 34px;
}
.portfolio-menu__item {
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border-style: none;
  margin-right: 8px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-size: 16px;
}
.portfolio-menu__item:hover {
  background-color: rgba(33, 150, 243, 1);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-content__box {
  border: 1px solid rgba(238, 238, 238, 1);
  margin: 0px;
  padding: 0px;
}
.portfolio-content__box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content__card {
  margin: 0px;
  padding: 0;
  height: 404px;
  width: 370px;
  border-radius: 0px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  padding-left: 24px;
  transition: transform 250ms, background 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content__card:hover .portfolio-overlay {
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay__text {
  height: 196px;
  width: 301px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: white;
  padding-top: 49px;
  padding-right: 45px;
  padding-bottom: 49px;
  padding-left: 24px;
}
.portfolio-overlay__figcaption {
  overflow: hidden;
  position: relative;
  width: 322px;
  height: 70px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
.portfolio-overlay__name {
  font-family: "Roboto";
  font-style: normal;
  height: 36px;
  width: 325px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-overlay__role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 4px;
}

.header {
  width: 1600px;
  height: 80px;
  display: flex;
}
